#user-img {
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    vertical-align: bottom;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

#content {
    min-width: 40em;
    min-height: 16em;
    margin: 0.5em 0;
}

.stretch {
    width: stretch;
}